@import "../../style/animation.scss";
@import "../../style/colors.scss";

.Button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background: $red;
	color: white;
	cursor: pointer;
	font-size: 1em;
	padding: {
		top: 0.4em;
		bottom: 0.4em;
		left: 1em;
		right: 1em;
	};
	border: {
		radius: 0.5rem;
		width: 0;
	};
	transform: translate(0, 0);
	transition: transform $instant-duration;

	&:hover {
		$Button-shadow-size: 0.15rem;

		transform: translateY(-$Button-shadow-size);
		box-shadow: 0 $Button-shadow-size $Button-shadow-size $transparent-black;
	}

	&:active {
		transform: translate(0, 0);
		box-shadow: none;
	}
}
