@import "../../style/colors.scss";
@import "./TaskDescription.scss";
@import "./TaskName.scss";

@mixin CreateTask-container {
	display: flex;
	padding: 0.5em;
}

.CreateTask-button-container {
	@include CreateTask-container;

	justify-content: center;
	width: 100%;
}

.CreateTask-form-container {
	@include CreateTask-container;

	background: white;
	border-radius: 5px;
	flex-direction: column;
}

.CreateTask-name {
	font-size: $TaskName-font-size;
}

.CreateTask-description {
	@extend .TaskDescription-input;
}

.CreateTask-buttons {
	display: flex;
}

.CreateTask-button {
	flex: 1;
	margin-top: 0.5em;
	margin-right: 0.5em;

	&:last-child {
		margin-right: 0;
	}
}

.CreateTask-cancel-button {
	@extend .CreateTask-button;

	background: $grey;
}
