@import "../../style/colors.scss";
@import "./Item.scss";
@import "./TaskDescription.scss";

.CreateTask-plus-button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.CreateTask-plus-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	padding: 0;

	& > svg {
		font-size: 1.5em;
	}
}

.CreateTask-form-container {
	@extend .Item-container;

	flex: 1;
	display: flex;
	flex-direction: column;
}

.CreateTask-description {
	@extend .TaskDescription-input;

	flex: 1;
}

.CreateTask-buttons {
	display: flex;
}

.CreateTask-button {
	flex: 1;
	margin-top: 0.5em;
	margin-right: 0.5em;

	&:last-child {
		margin-right: 0;
	}
}

.CreateTask-cancel-button {
	@extend .CreateTask-button;

	background: $grey;
}
