@import "./Item.scss";

.CreateItem-form-container {
	@extend .Item-container;

	display: flex;
	flex-direction: column;
}

.CreateItem-plus-button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-shrink: 0;
}

.CreateItem-plus-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	padding: 0;

	& > svg {
		font-size: 1.5em;
	}
}
