@import "../../style/border.scss";
@import "../../style/colors.scss";
@import "./ItemLike.scss";

.CreateItem-form-container {
	background: $transparent-black;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CreateItem-form {
	@extend .ItemLike-container;

	width: 40em;
	max-width: 90%;
	margin: 1em;
	display: flex;
	flex-direction: column;
}

.CreateItem-button {
	& > svg {
		font-size: 1.5em;
		margin-right: 0.1em;
	}

	& > div {
		padding-bottom: 0.1em;
		margin-right: 0.3em;
	}
}
