@import "./ItemLike.scss";
@import "./Button.scss";

.CreateItem-form {
	@extend .ItemLike-container;

	width: 40em;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.CreateItem-button-text {
	margin-right: 0.3em;
}
