@import "../../style/colors.scss";

.Feature-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Feature-image {
	width: 90%;
	margin-bottom: 1.5em;
}

.Feature-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.8em;
}

.Feature-description {
	color: $dark-grey;
	line-height: 1.5em;
	text-align: justify;
}
