@import "../../style/animation.scss";
@import "../../style/border.scss";
@import "../../style/colors.scss";

.Item-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.Item-buttons {
	display: flex;
	align-items: center;
	transition: opacity $short-duration, visibility $short-duration;
}

.Item-button {
	color: $black;
	font-size: 1.5em;
	display: flex;
	margin-right: 0.1em;
	transition: color $instant-duration, transform $instant-duration;
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: $red;
		transform: scale(1.5, 1.5);
	}
}
