@import "../../style/animation.scss";
@import "../../style/colors.scss";
@import "./CircleButton.scss";

.ItemsMenuButton-container {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.ItemsMenuButton-button {
	@include CircleButton-container($dark-grey);
}

.ItemsMenuButton-menu-background {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	transition: background $long-duration, visibility $long-duration;
	z-index: 100;
}

.ItemsMenuButton-menu-background-opened {
	@extend .ItemsMenuButton-menu-background;

	background: $transparent-black;
	visibility: visible;
}

.ItemsMenuButton-menu-container {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform $short-duration;
	z-index: 200;
}

.ItemsMenuButton-menu-container-opened {
	@extend .ItemsMenuButton-menu-container;

	transform: translateX(0);
}
