@import "../../style/media.scss";

.ItemList-container {
	overflow-y: auto;
	height: 100%;
	padding: 0.5em;

	> * {
		margin: 0.5em;
	}

	@include smartphone {
		// padding for a menu icon.
		padding-bottom: 5em;
	}
}

.ItemList-message {
	padding: 1em;
}

.ItemList-placeholder {
	visibility: hidden;
}
