@import "../../style/colors.scss";

.ItemsMenu-container {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ItemsMenu-button {
	width: 100%;
	padding: 0.5em 1em;
	color: $black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: $light-grey;
	}

	& > svg {
		font-size: 1.6em;
		margin-right: 0.2em;
	}
}

.ItemsMenu-button-highlighted {
	@extend .ItemsMenu-button;

	color: $light-red;
	cursor: auto;

	&:hover {
		background: initial;
	}
}
