@import "../../style/colors.scss";

.Link-container {
	color: inherit;
	font-size: inherit;
	text-decoration: none;

	&:visited {
		color: inherit;
	}

	&:hover {
		text-decoration: underline;
	}
}

.Link-container-colored {
	@extend .Link-container;

	color: $blue;

	&:visited {
		color: $blue;
	}
}
