@import "../../style/colors.scss";

.Menu-container {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 12em;
}

.Menu-button {
	width: 100%;
	text-align: center;
	padding: {
		top: 0.5em;
		bottom: 0.5em;
		left: 1em;
		right: 1em;
	};
	color: $black;
	cursor: pointer;

	&:hover {
		background: $light-grey;
	}
}

.Menu-button-highlighted {
	@extend .Menu-button;

	color: $light-red;
	cursor: auto;

	&:hover {
		background: initial;
	}
}
