@import "../../style/border.scss";
@import "../../style/colors.scss";

@mixin Message-hidden-box {
	transform: translateY(-200%);
}

.Message-container {
	position: fixed;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.Message-box {
	@include paper-border;

	color: white;
	cursor: pointer;
	font-size: 1.2em;
	background: $grey;
	max-width: 100%;
	padding: 1em 2em;
	margin: 1em;
	transition: 0.2s;
	pointer-events: auto;
}

.Message-box-hidden {
	@extend .Message-box;

	@include Message-hidden-box;
}

.Message-box-error {
	@extend .Message-box;

	background: $yellow;
}

.Message-box-error-hidden {
	@extend .Message-box-error;

	@include Message-hidden-box;
}
