@import "../../style/colors.scss";

.Message-container {
	position: fixed;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.Message-box {
	color: white;
	background: $grey;
	border-radius: 3px;
	padding: 1em 2em;
	margin: 1em;
}

.Message-box-error {
	@extend .Message-box;

	background: $yellow;
}
