@import "../../style/animation.scss";
@import "../../style/border.scss";
@import "../../style/colors.scss";
@import "../../style/media.scss";

.ModalWindowButton-container {
	position: fixed;
	top: 0;
	left: 0;

	// This may be necessary because of Chrome's bug of nested position fixed.
	@include small-window {
		left: auto;
		right: 0;
	}


	z-index: 100;
	width: 100vw;
	height: 100vh;
	padding: 1em;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $transparent-black;
	visibility: visible;
	transition: background $long-duration, visibility $long-duration;

	> * {
		transform: translateY(0);
		transition: transform $long-duration;
	}
}

.ModalWindowButton-container-hidden {
	@extend .ModalWindowButton-container;

	visibility: hidden;
	background: transparent;

	> * {
		transform: translateY(calc(-100vh - 100%));
	}
}

.ModalWindowButton-container-appear.ModalWindowButton-container-appear-active, .ModalWindowButton-container-exit {
	@extend .ModalWindowButton-container;
}

.ModalWindowButton-container-appear, .ModalWindowButton-container-exit.ModalWindowButton-container-exit-active {
	@extend .ModalWindowButton-container-hidden;
}

.ModalWindowButton-window {
	@include paper-border;

	background: white;
	display: flex;
	max-width: 100%;
	margin: auto;
}

.ModalWindowButton-close-button-container {
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 200;

	@include small-window {
		top: auto;
		bottom: 1em;
	}
}
