@import "../../style/animation.scss";
@import "../../style/border.scss";
@import "../../style/colors.scss";
@import "../../style/media.scss";

.Modal-container {
	position: fixed;
	top: 0;
	left: 0;

	// This may be necessary because of Chrome's bug of nested position fixed.
	@include smartphone {
		left: auto;
		right: 0;
	}


	z-index: 100;
	width: 100vw;
	height: 100vh;
	padding: 1em;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $transparent-black;
	visibility: visible;
	transition: background $long-duration, visibility $long-duration;

	> * {
		transform: translateY(0);
		transition: transform $long-duration;
	}
}

.Modal-container-hidden {
	@extend .Modal-container;

	visibility: hidden;
	background: transparent;

	> * {
		transform: translateY(calc(-100vh - 100%));
	}
}

.Modal-container-appear.Modal-container-appear-active, .Modal-container-exit {
	@extend .Modal-container;
}

.Modal-container-appear, .Modal-container-exit.Modal-container-exit-active {
	@extend .Modal-container-hidden;
}

.Modal-window {
	@include paper-border;

	background: white;
	display: flex;
	max-width: 100%;
	margin: auto;
}

.Modal-close-button-container {
	position: fixed;
	top: 1.5em;
	right: 1.5em;
	z-index: 200;
}

.Modal-close-button {
	$Modal-close-button-size: 2em;

	font-size: 1.5em;
	width: $Modal-close-button-size;
	height: $Modal-close-button-size;
	border-radius: $Modal-close-button-size;
	padding: 0;
}
