@import "../../style/animation.scss";
@import "../../style/colors.scss";

.PagesMenuButton-container {
	@include color-transition;

	display: flex;
	font-size: 1.2em;
	color: $light-grey;
	margin: 0.2em;

	&:hover {
		color: $black;
	}

	& > a {
		display: flex;
		align-items: center;

		&:hover {
			text-decoration: none;
		}
	}
}

.PagesMenuButton-container-highlighted {
	@extend .PagesMenuButton-container;

	color: $red;

	&:hover {
		color: $red;
	}

	& > a {
		cursor: default;
	}
}

.PagesMenuButton-icon {
	display: flex;
	font-size: 1.8em;
	margin-right: 0.3em;
}
