@import "../../style/animation.scss";
@import "../../style/colors.scss";

.PageButton-container {
	@include color-transition;

	display: flex;
	align-items: center;
	font-size: 1.2em;
	color: $light-grey;
	cursor: pointer;

	&:hover {
		color: $black;
	}
}

.PageButton-container-current {
	@extend .PageButton-container;

	color: $black;
}

.PageButton-icon {
	display: flex;
	font-size: 1.8em;
	margin-right: 0.3em;
}
