@import "../../style/animation.scss";
@import "../../style/border.scss";
@import "../../style/shadow.scss";

$PagesMenu-icon-size: 2.5em;

.PagesMenu-container {
	position: relative;
}

.PagesMenu-box-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: opacity $short-duration, visibility $short-duration;
	z-index: 100;
}

.PagesMenu-box-container-invisible {
	@extend .PagesMenu-box-container;

	visibility: hidden;
	opacity: 0;
}

.PagesMenu-box {
	@include paper-shadow;
	@include paper-border;

	background: white;
	align-items: center;
	position: absolute;
	bottom: $PagesMenu-icon-size + 2em;
	left: 1em;

	& > * {
		margin: 1em 2em;
	}
}

.PagesMenu-icon {
	font-size: $PagesMenu-icon-size;
	cursor: pointer;

	& > svg {
		transition: transform $short-duration;
	}
}

.PagesMenu-icon-active {
	@extend .PagesMenu-icon;

	& > svg {
		transform: rotate(90deg);
	}
}
