@import "../../style/animation.scss";
@import "../../style/colors.scss";

.PageButton-container {
	@include color-transition;

	display: flex;
	font-size: 1.2em;
	color: $light-grey;
	margin: 0.2em;

	&:hover {
		color: $black;
	}

	& > div {
		cursor: pointer;
		display: flex;
		align-items: center;
	}
}

.PageButton-container-highlighted {
	@extend .PageButton-container;

	color: $red;

	&:hover {
		color: $red;
	}

	& > div {
		cursor: default;
	}
}

.PageButton-icon {
	display: flex;
	font-size: 1.8em;
	margin-right: 0.3em;
}
