@import "../../style/animation.scss";
@import "../../style/colors.scss";

.PagesMenuButton-container {
	@include color-transition;

	display: flex;
	font-size: 2.5em;
	color: $light-grey;
	margin: 0.2em;

	&:hover {
		color: $black;
	}

	& > a {
		display: flex;
	}
}

.PagesMenuButton-container-highlighted {
	@extend .PagesMenuButton-container;

	color: $red;

	&:hover {
		color: $red;
	}
}
