@import "../../style/animation.scss";

.SettingsButton-icon {
	font-size: 2em;
	cursor: pointer;

	& > svg {
		transition: transform $short-duration;
	}
}

.SettingsButton-icon-active {
	@extend .SettingsButton-icon;

	& > svg {
		transform: rotate(90deg);
	}
}
