@import "../../style/colors.scss";

.SettingsItem-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: {
		style: solid;
		width: 1px;
		color: $light-grey;
	};
}
