@import "../../style/colors.scss";

.Settings-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

.Settings-box {
	font-size: 1.2em;
	background: white;
	margin: 10vh 0;
	width: 80vw;
	border-radius: 3px;

	& > * {
		margin: 1em 10vw;

		&:first-child {
			margin-top: 10vh;
		}

		&:last-child {
			margin-bottom: 10vh;
		}
	}
}

@mixin Settings-notification {
	font-weight: bold;
}

.Settings-notification-enabled {
	@include Settings-notification;

	color: $green;
}

.Settings-notification-disabled {
	@include Settings-notification;

	color: $grey;
}
