@import "../../style/animation.scss";
@import "../../style/colors.scss";
@import "../../style/media.scss";
@import "./Button.scss";

.Settings-icon {
	font-size: 2em;
	cursor: pointer;

	& > svg {
		transition: transform $short-duration;
	}
}

.Settings-icon-active {
	@extend .Settings-icon;

	& > svg {
		transform: rotate(90deg);
	}
}

.Settings-container {
	font-size: 1.2em;
	width: 50em;
	max-width: 100%;
	padding: 8vh 8vw;

	& > * {
		margin: 2em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin Settings-notification {
	font-weight: bold;
}

.Settings-notification-enabled {
	@include Settings-notification;

	color: $yellow-green;
}

.Settings-notification-disabled {
	@include Settings-notification;

	color: $grey;
}

.Settings-buttons {
	font-size: 0.9em;
	display: flex;

	& > * {
		margin: 0 0.5em;
	}
}

.Settings-negative-button {
	@include Button-container($grey);
}

.Settings-footer {
	font-size: 0.9em;
	border-top: {
		style: solid;
		width: 1px;
		color: $light-grey;
	};
	padding-top: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;

	& > * {
		margin: 0 0.6em;
	}

	@include small-window {
		justify-content: flex-start;
	}
}

.Settings-volume-slider {
	width: 15em;
	max-width: 50%;
	padding-bottom: 1.5em;
	padding-right: 0.5em;
}
