.Settings-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

.Settings-box {
	background: white;
	margin: 10vh 0;
	width: 80vw;
	border-radius: 3px;

	& > * {
		margin: 1em;
	}
}
