@import "../../style/colors.scss";

.Settings-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	& > * {
		height: auto;
		max-height: 90%;
	}
}

.Settings-box {
	font-size: 1.2em;
	background: white;
	padding: 10vh 10vw;
	width: 80vw;
	border-radius: 3px;

	& > * {
		margin: 2em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin Settings-notification {
	font-weight: bold;
}

.Settings-notification-enabled {
	@include Settings-notification;

	color: $light-green;
}

.Settings-notification-disabled {
	@include Settings-notification;

	color: $grey;
}

.Settings-buttons {
	& > * {
		margin: 0 0.5em;
	}
}

.Settings-negative-button {
	background: $grey;
}

.Settings-footer {
	border-top: {
		style: solid;
		width: 1px;
		color: $light-grey;
	};
	padding-top: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > * {
		margin: 0 1em;
	}
}

.Settings-volume-slider {
	width: 40%;
	padding-bottom: 1.5em;
}
