@import "../../style/media.scss";
@import "./ItemLike.scss";

.SimpleArticle-container {
	@extend .ItemLike-container;

	max-width: 50em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	> * {
		margin: 0 0.5em;
	}

	@include small-window {
		flex-direction: column;
		align-items: flex-start;

		> * {
			margin: 0.25em 0;
		}
	}
}
