.SimpleArticle-container {
	width: 100%;
	max-width: 50em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	> * {
		margin: 0 0.5em;
	}
}

.SimpleArticle-button {
	white-space: nowrap;
}
