@import "../../style/colors.scss";
@import "../../style/shadow.scss";

@mixin Switch-button {
	@include button-shadow;

	height: 2em;
	border-radius: 1em;
}

.Switch-button-on {
	@include Switch-button;

	background: $light-blue;
}

.Switch-button-off {
	@include Switch-button;

	background: $grey;
}
