@import "../../style/colors.scss";
@import "./TaskTag.scss";

.TasksMenu-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.TasksMenu-tags-title {
	color: $grey;
	width: 100%;
	padding-bottom: 0.5em;
}

.TasksMenu-no-tag-button {
	@extend .TaskTag-container-unhighlighted;
}

.TasksMenu-no-tag-button-highlighted {
	@extend .TaskTag-container-highlighted;
}
