@import "../../style/colors.scss";
@import "../../style/shadow.scss";

$TaskTag-size: 1.8em;

@mixin TaskTag-tag-like {
	@include button-shadow;

	font-size: 0.9em;
	margin: 0.2em;
	border-radius: $TaskTag-size / 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.TaskTag-container {
	@include TaskTag-tag-like;

	background: $light-blue;
	color: white;
	height: $TaskTag-size;
	padding: {
		bottom: 0.1em;
		left: 0.8em;
		right: 0.8em;
	};
	cursor: pointer;
}

.TaskTag-container-highlighted {
	@extend .TaskTag-container;

	background: $red;
	color: white;
}

.TaskTag-container-unhighlighted {
	@extend .TaskTag-container;

	background: $light-grey;
	color: white;
}

.TaskTag-remove-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6em;
}
