@import "../../style/colors.scss";
@import "./TaskTag.scss";

.TaskTags-tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.TaskTags-margined-form {
	margin-top: 0.4em;
}

.TaskTags-button {
	@include TaskTag-tag-like;

	padding: 0;
	width: $TaskTag-size;
	height: $TaskTag-size;

	& > svg {
		font-size: 1.3em;
	}
}

.TaskTags-tag {
	color: $black;
}

.TaskTags-tag-highlighted {
	color: $light-red;
}

.TaskTags-suggestions {
	margin-top: 0.2em;
	border: {
		color: $grey;
		style: solid;
		width: 1px;
		radius: 3px;
	};

	& > * {
		margin: 0.2em;
	}
}
