@import "../../style/colors.scss";

.TaskDescription-normal {
	margin-top: 0.4em;
}

.TaskDescription-input {
	@extend .TaskDescription-normal;

	height: 20vh;
	resize: vertical;
}

.TaskDescription-markdown {
	padding: 0;
	margin: 0;
}

.TaskDescription-message {
	color: $grey;
}
