@import "../../style/border.scss";
@import "../../style/colors.scss";
@import "./TaskTag.scss";

.TaskTags-tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	> * {
		margin: 0.2em;
	}
}

.TaskTags-margined-form {
	margin-top: 0.4em;
}

.TaskTags-button {
	@include TaskTag-container($red);

	padding: 0;
	width: $TaskTag-size;

	& > svg {
		font-size: 1.3em;
	}
}

.TaskTags-tag {
	color: $black;
}

.TaskTags-tag-highlighted {
	color: $red;
}

.TaskTags-suggestions {
	margin-top: 0.2em;
	border: {
		color: $grey;
		style: solid;
		width: 1px;
		radius: $paper-border-radius;
	};

	& > * {
		margin: 0.2em;
	}
}
