.TaskName-normal {
	font-size: 1.1em;
	margin-right: 0.5em;
}

.TaskName-input {
	@extend .TaskName-normal;

	border-width: 0;
	outline: none;
	text-decoration: underline;
	text-decoration-color: #6d9211;
	flex: 1;
}
