@import "../../style/colors.scss";

.TaskDescription-normal {
	margin-top: 0.4em;
}

.TaskDescription-input {
	@extend .TaskDescription-normal;

	height: 20vh;
	resize: vertical;
}

.TaskDescription-markdown {
	padding: 0;
	margin: 0;

	& > *:first-child {
		padding-top: 0;
		margin-top: 0;
	}

	& > *:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.TaskDescription-message {
	color: $grey;
}
