.Task-container {
	width: 100%;
	box-sizing: border-box;
	background: #888;
	color: #fff;
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.4em;
}

.Task-container:last-child {
	margin-bottom: 0;
}

.Task-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@mixin Task-input {
	padding: 0.3em;
	border-width: 0;
	border-radius: 5px;
	outline: none;
}

.Task-name {
	font-size: 1.1em;
	width: 100%;
	margin-right: 0.5em;
	box-sizing: border-box;
}

.Task-name-input {
	@extend .Task-name;

	@include Task-input;
}

.Task-description {
	margin-top: 0.4em;
	width: 100%;
	box-sizing: border-box;
}

.Task-description-input {
	@extend .Task-description;

	@include Task-input;
}

.Task-buttons-container {
	display: flex;
	align-items: center;
}

.Task-button {
	font-size: 0;
	margin-right: 4px;
}

.Task-button:last-child {
	margin-right: 0;
}
