.Task-container {
	width: 100%;
	box-sizing: border-box;
	background: white;
	color: #414f4f;
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.4em;
}

.Task-container-highlighted {
	@extend .Task-container;

	box-shadow: 0 0 0.2em 0.15em #7f969c;
}

.Task-container:last-child {
	margin-bottom: 0;
}

.Task-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.Task-buttons-container {
	display: flex;
	align-items: top;
}

.Task-button {
	font-size: 0;
	margin-right: 4px;
}

.Task-button:last-child {
	margin-right: 0;
}
