@import "../../style/colors.scss";

$TaskTag-size: 1.8em;

@mixin TaskTag-tag-like {
	font-size: 0.9em;
	border-radius: $TaskTag-size / 2;
	height: $TaskTag-size;
	padding: 0.1em 0.8em;
	margin: 0.2em;
}

.TaskTag-container {
	@include TaskTag-tag-like;

	background: $light-blue;
}

.TaskTag-container-highlighted {
	@extend .TaskTag-container;

	background: $red;
}

.TaskTag-container-unhighlighted {
	@extend .TaskTag-container;

	background: $light-grey;
}

.TaskTag-remove-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6em;
}
