@import "../../style/colors.scss";
@import "./Button.scss";

$TaskTag-size: 1.8em;

@mixin TaskTag-container($background-color) {
	@include Button-container($background-color);

	font-size: 0.9em;
	border-radius: $TaskTag-size;
	height: $TaskTag-size;
	padding: 0.1em 0.8em;
	margin: 0.2em;
}

.TaskTag-container {
	@include TaskTag-container($light-blue);
}

.TaskTag-container-highlighted {
	@include TaskTag-container($red);
}

.TaskTag-container-unhighlighted {
	@include TaskTag-container($light-grey);
}

.TaskTag-remove-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6em;
}
