@import "../../style/colors.scss";

@mixin Task-container {
	background: white;
	border-radius: 0.5em;
	padding: 0.5em;
}

.Task-container {
	@include Task-container;

	width: 100%;
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}
}

.Task-container-highlighted {
	@extend .Task-container;

	box-shadow: 0 0 0.2em 0.15em $grey;
}

.Task-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.Task-buttons-container {
	display: flex;
	align-items: flex-start;
}

.Task-button {
	font-size: 0;
	margin-right: 4px;

	&:last-child {
		margin-right: 0;
	}
}
