$green: #6d9211;
$light-green: #9db634;
$dark-red: #7d432f;
$red: #b56a55;
$light-blue: #adc9b2;
$light-light-blue: #cde9d2;
$yellow: goldenrod;

$white: #e1ebed;
$light-grey: #bcc;
$grey: #7f969c;
$dark-grey: dimgrey;
$black: #414f4f;
