$green: #6d9211;
$yellow-green: #9db634;
$dark-red: #7d432f;
$red: #b56a55;
$light-green: #adc9b2;
$yellow: goldenrod;
$blue: darkcyan;

$white: #e1ebed;
$light-grey: #bcc;
$grey: #7f969c;
$dark-grey: dimgrey;
$black: #414f4f;
$transparent-black: rgba(0, 0, 0, 0.5);
$transparent-grey: rgba(0, 0, 0, 0.05);
