@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

@import "./style/colors.scss";
@import "./style/border.scss";
@import "./style/shadow.scss";

@mixin font-without-size {
	color: $black;
	font-family: "Noto Sans", sans-serif;
}

@mixin font {
	@include font-without-size;

	font-size: 14px;
}

* {
	box-sizing: border-box;
}

body {
	@include font;

	background: $light-blue;
	margin: 0;
	padding: 0;
}

input, textarea {
	@include font;

	border: {
		style: solid;
		color: $grey;
		radius: $paper-border-radius;
		width: 1px;
	};
	outline: none;
	padding: 0.2em;
	width: 100%;

	&:focus {
		@include font-without-size;
	}
}
