@import "./style/colors.scss";

@mixin font-without-size {
	color: $black;
	font-family: sans-serif;
}

@mixin font {
	@include font-without-size;

	font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
	@include font;

	background: $light-blue;
	margin: 0;
	padding: 0;
}

button {
	background: $light-red;
	border: {
		width: 0;
		radius: 0.5em;
	};
	color: white;
	font-size: 1em;
	padding: {
		top: 0.4em;
		bottom: 0.4em;
		left: 1em;
		right: 1em;
	};
}

input, textarea {
	@include font;

	border: {
		style: solid;
		color: $grey;
		radius: 3px;
		width: 1px;
	};
	outline: none;
	padding: 0.2em;
	width: 100%;

	&:focus {
		@include font-without-size;
	}
}
