$red: #b56a55;
$black: #414f4f;

body {
	color: $black;
	font-size: 14px;
	padding: 1em;
	white-space: nowrap;
}

button {
	background: $red;
	color: white;
	cursor: pointer;
	border-radius: 0.5rem;
	border-width: 0;
	padding: {
		top: 0.4em;
		bottom: 0.4em;
		left: 1em;
		right: 1em;
	};

	&:hover {
		position: relative;
		top: -1px;
		left: -1px;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}

	&:active {
		position: relative;
		top: 0px;
		left: 0px;
		box-shadow: none;
	}
}

#container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
