html, body, .full-screen, #main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.time {
  color: white;
  font-size: 30vw;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.button-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.link-cursor {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .button-list {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .button-list {
    display: block;
  }

  .btn, .btn-large {
    display: block;
    margin: 2em auto;
  }
}
