@import "../../component/style/sub-container.scss";
@import "../../style/colors.scss";

@mixin Home-sub-container {
	margin: 1em;
}

.Home-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.Home-buttons {
	display: flex;
}

.Home-button {
	flex: 1;
}

.Home-main {
	flex: 1;
	display: flex;
}

.Home-tasks {
	@include Home-sub-container;

	flex: 1;
	margin-right: 0.5em;
}

.Home-sidebar {
	width: 40%;
}

.Home-current-task {
	@include sub-container;
	@include Home-sub-container;

	margin-left: 0;
}
