@import "../../component/style/sub-container.scss";
@import "../../style/colors.scss";

@mixin Home-sub-container {
	margin: 1em;
}

.Home-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.Home-buttons {
	display: flex;
}

.Home-main {
	width: 150vh;
	max-width: 100%;
	display: flex;
}

.Home-tasks {
	@include Home-sub-container;

	flex: 1;
	margin-right: 0.5em;
}

.Home-sidebar {
	width: 50%;
}

.Home-current-task {
	@include sub-container;
	@include Home-sub-container;

	margin-left: 0;
}
