@import "../../style/colors.scss";

.Items-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.Items-blank {
	flex: 1;
}

.Items-menu-blank {
	@extend .Items-blank;

	background: white;
	height: 100%;
}

.Items-menu {
	background: white;
	width: 12em;
	height: 100%;
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Items-menu-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0.5em 1em;

	& > a {
		display: flex;
		font-size: 2.5em;
		color: $black;
		margin: 0.2em;

		&:visited {
			color: $black;
		}
	}
}

.Items-main {
	width: 150vh;
	max-width: 100%;
	display: flex;
	align-items: flex-start;

	& > * {
		flex: 1;
		max-height: calc(100% - 2em);
		margin: 1em;

		&:last-child {
			margin-left: 0;
		}
	}
}
