@import "../../style/colors.scss";

.Items-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}

.Items-content {
	display: flex;
	width: 100%;
	max-width: 100em;
}

.Items-main {
	display: flex;
	flex: 1;

	> * {
		flex: 1;
	}
}

.Items-current-item-container {
	overflow-y: auto;
	padding: 1em;
}

.Items-fix-list-button-container {
	position: fixed;
	bottom: 1em;
	right: 1em;
}
