@import "../../style/colors.scss";

.Items-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.Items-blank {
	flex: 1;
}

.Items-menu-blank {
	@extend .Items-blank;

	background: white;
	height: 100%;
}

.Items-main {
	width: 150vh;
	max-width: 100%;
	display: flex;

	& > * {
		flex: 1;
		padding: 1em 0.5em;

		&:first-child {
			padding-left: 1em;
		}

		&:last-child {
			padding-right: 1em;
		}
	}
}

.Items-current-item-container {
	display: flex;
	flex-direction: column;
}
