@import "../../style/colors.scss";

.Items-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.Items-content {
	display: flex;
	width: 100%;
	max-width: 80em;
}

.Items-main {
	width: 70em;
	max-width: 100%;
	display: flex;
	padding: 0 0.5em;

	> * {
		flex: 1;
		padding: 1em 0.5em;
	}
}

.Items-current-item-container {
	display: flex;
	flex-direction: column;
}
