@import "../../style/colors.scss";

@mixin SignIn-page {
	height: 100vh;
}

.SignIn-title-page {
	@include SignIn-page;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.SignIn-description-page {
	@include SignIn-page;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.SignIn-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SignIn-title {
	font: {
		size: 4em;
		weight: bold;
	};
}

.SignIn-icon {
	height: 30vh;
	margin-bottom: 1em;
}

.SignIn-catch-phrase {
	font-size: 1.2em;
	margin-top: 0.8em;
}

.SignIn-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: {
		top: 1em;
		bottom: 1em;
		left: 2em;
		right: 2em;
	};

	& > svg {
		font-size: 2em;
		margin-right: 0.4em;
	}
}

.SignIn-description-paper {
	background: white;
	width: 70vw;
	flex: 1;
	position: relative;
	top: -8vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
}

.SignIn-footer {
	background: $black;
	color: white;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > * {
		margin: 1em 2em;
	}
}
