@import "../../style/colors.scss";
@import "../../style/media.scss";
@import "../../component/style/Button.scss";

@mixin SignIn-children-margins {
	> * {
		margin: 0.5em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.SignIn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SignIn-main {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.SignIn-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SignIn-title {
	font: {
		size: 4em;
		weight: bold;
	};
}

.SignIn-icon {
	$SignIn-icon-border-width: 3vh;

	background: white;
	height: 40vh - 2 * $SignIn-icon-border-width;
	border: {
		color: white;
		radius: 20vh;
		style: solid;
		width: $SignIn-icon-border-width;
	};
	margin-bottom: 1em;
	box-sizing: content-box;
}

.SignIn-short-description {
	font-size: 1.3em;
	text-align: center;
	margin: {
		top: 0.8em;
		left: 1em;
		right: 1em;
	};
}

.SignIn-button {
	@include Button-container;

	font-size: 1.2em;
	padding: {
		top: 1em;
		bottom: 1em;
		left: 2em;
		right: 2em;
	};

	> svg {
		font-size: 2em;
		margin-right: 0.4em;
	}
}

.SignIn-description {
	@include SignIn-children-margins;

	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0.5em 0.5em 2em $transparent-black;
	width: 80em;
	max-width: 90%;
	padding: 8vh;
}

.SignIn-overview {
	@include SignIn-children-margins;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.SignIn-overview-title {
	font-size: 3em;
	font-weight: bold;
}

.SignIn-overview-text {
	font-size: 1.2em;
	max-width: 40em;
}

.SignIn-features {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;

	> * {
		width: 22%;
		min-width: 15em;
		margin: 5vh 2vh;
	}
}

.SignIn-footer {
	width: 100%;
	background: $black;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.75em 1em;

	> * {
		margin: 0.75em 1em;
	}

	@include small-window {
		justify-content: flex-start;
	}
}

.SignIn-social-buttons {
	display: flex;
	flex-wrap: wrap;

	> * {
		margin: 0 0.7em;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
