@import "../../style/colors.scss";

.SignIn-main {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.SignIn-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SignIn-title {
	font: {
		size: 4em;
		weight: bold;
	};
}

.SignIn-icon {
	background: white;
	height: 40vh;
	padding: 3vh;
	border-radius: 20vh;
	margin-bottom: 1em;
}

.SignIn-catch-phrase {
	font-size: 1.2em;
	margin-top: 0.8em;
}

.SignIn-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: {
		top: 1em;
		bottom: 1em;
		left: 2em;
		right: 2em;
	};

	& > svg {
		font-size: 2em;
		margin-right: 0.4em;
	}
}

.SignIn-features-paper {
	background: white;
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
	padding: 10vh 0;
}

.SignIn-footer {
	margin-top: 10vh;
	background: $black;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > * {
		margin: 1em 2em;
	}
}
