@import "../../component/style/sub-container.scss";
@import "../../style/colors.scss";

@mixin Tasks-sub-container {
	margin: 1em;
}

.Tasks-container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.Tasks-blank {
	flex: 1;
}

.Tasks-menu-blank {
	@extend .Tasks-blank;

	background: white;
	height: 100%;
}

.Tasks-menu {
	background: white;
	height: 100%;
}

.Tasks-menu-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0.5em 1em;

	& > a {
		display: flex;
		font-size: 2.5em;
		color: $black;
		margin: 0.2em;

		&:visited {
			color: $black;
		}
	}
}

.Tasks-main {
	width: 150vh;
	max-width: 100%;
	display: flex;
}

.Tasks-tasks {
	@include Tasks-sub-container;

	flex: 1;
	margin-right: 0;
}

.Tasks-sidebar {
	@include sub-container;
	@include Tasks-sub-container;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	margin-left: 0;
}
