.Timer-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Timer-time {
	color: white;
	font-size: 10em;
	display: flex;
	align-items: flex-end;
}

.Timer-minutes {
	font-size: 1.5em;
	margin-right: 0.1em;
}

.Timer-seconds {
	padding-bottom: 0.15em;
}

.Timer-button {
	padding: {
		top: 0.8em;
		bottom: 0.8em;
		left: 2em;
		right: 2em;
	};

	& > a {
		color: white;
		text-decoration: none;

		&:visited {
			color: white;
		}
	}
}

.Timer-square {
	background: white;
	width: 1.5em;
	height: 1.5em;
	border-radius: 2px;
}
