.Timer-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Timer-time {
	color: white;
	font-size: 10em;
	display: flex;
	align-items: flex-end;
}

.Timer-minutes {
	font-size: 1.5em;
	margin-right: 0.1em;
}

.Timer-seconds {
	padding-bottom: 0.15em;
}

.Timer-button {
	& > a {
		color: white;
		text-decoration: none;

		&:visited {
			color: white;
		}
	}
}
